#b1{
    background-color: white;
    border: 2px solid steelblue;
    color: steelblue;
    font-family: calibri;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 1vw;
}

#b1:active {
    background-color: steelblue;
    color: white;
}

#b2 {

    background-color: white;
    border: 2px solid crimson;
    color: crimson;
    font-family: calibri;
    font-size: 20px;
    border-radius: 20px;  
    margin-top: 1vw;
}

#b2:active {
    background-color: crimson;
    color: white;
}
