header{
    text-align: center;
    color: grey;
    font-family:sans-serif;
    font-size: 1.5vw;
    text-shadow: 1px 1px 2px black;
}

nav{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    color: grey;
    font-family:sans-serif;
    font-size: 2vw;
    text-shadow: 1px 1px 2px black; 
    margin-bottom: 1em;
}

a:link {
    color: dimgrey;
}

a:visited{
    color: dimgrey;
}

a:hover{
    color: cadetblue;
}

main{
    display:grid;
    grid-template-columns: auto;
    grid-template-areas: "i1"
			 "t1";
    text-align: center;
}

#image1{
    grid-area: i1;
}

#logo{
    width: 15vw;}


#title{
    grid-area: t1;
    color: grey;
    font-family:sans-serif;
    font-size: 2vw;
    text-shadow: 1px 1px 2px black; 
}
form{
    align: center;
}
fieldset{
    border-style:dashed;
    border-color: gray;
    align: center; 
}

table{
    align: center;
}

td{
    text-align: center;
}
legend{
    font-family:sans-serif;
    font-size: 1.5vw;
    text-shadow: 1px 1px 2px black;
    text-align: left;
}

#myCanvas{
    width: 80vw;
    grid-area: c;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#custinfo{
    grid-area: g1;
    text-align: center;
}

products{
    grid-area: g2;
}

#payment{
    grid-area: g3;
}

#shipmethod{
    grid-area: g4;
}

footer{
    grid-area: f;
    text-align: center;
    font-family:sans-serif;
    font-size: 1em;
    margin-top: 10vh;
}
